@use '/src/assets/scss/variables.scss';

.avatar {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 48px;
    aspect-ratio: 1;
    background-color: variables.$color-primary-brand;
    box-shadow: variables.$box-shadow-aura;
    border-radius: 50%;
  }

  &-image {
    color: variables.$color-primary-dark;
    font-size: 12px;
    font-family: Kadwa;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-letter {
    font-family: Kadwa;
    font-size: 32px;
    color: variables.$color-primary-light;
  }
}
