@use '/src/assets/scss/variables.scss';

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-container {
  display: flex;
  border-radius: 8px;
  overflow: hidden;

  &.with-label {
    font-family: Monda;
  }
}

.variant-solid {
  background-color: variables.$color-secondary-brand;
}

.variant-outlined {
  border: 1px solid variables.$color-primary-light;
}

.input-label-text {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 2px 4px;
  background-color: variables.$color-primary-light;
  color: variables.$color-primary-brand;
  font-family: Karla;
  font-size: 24px;
  text-align: end;
}

.input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.input-icon-left {
  background-color: variables.$color-primary-light;
  color: variables.$color-primary-dark;
}

.input-field {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 2px 4px;
  background-color: transparent;
  color: variables.$color-primary-light;
  border: 0;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &::placeholder {
    color: variables.$color-transparent-light;
  }

  &:focus {
    overflow: visible;
  }
}

.input-text-area {
  width: 100%;
  font-family: inherit;
  font-size: 24px;
  padding: 4px;
  background-color: transparent;
  color: variables.$color-primary-light;
  border: 0;
  outline: none;
  resize: none;

  &::placeholder {
    color: variables.$color-transparent-light;
  }
}

.input-error {
  color: variables.$color-primary-danger;
}
