@use '/src/assets/scss/variables.scss';

/* TODO: Colors don't apply. fix it */
.toast-container {
  --toastify-color-info: variables.$color-primary-brand;
  --toastify-color-success: variables.$color-primary-success;
  --toastify-color-warning: variables.$color-primary-warning;
  --toastify-color-error: variables.$color-primary-danger;
  --toastify-font-family: Karla, sans-serif;
}

.notification {
  background-color: variables.$color-primary-dark;
  border: 1px solid variables.$color-primary-light;
}
