@use '/src/assets/scss/variables.scss';

/* TODO: refactor this styles */

.new-button {
  background-color: variables.$color-primary-brand;
  color: variables.$color-primary-light;
  border: none;
  border-radius: 16px;
  padding: 8px;
  cursor: pointer;
  position: absolute;

  &-container {
    position: relative;
  }

  &-form {
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: scale, opacity;
    transform-origin: top left;
  }

  &-collapsed {
    .new-button {
      &-form {
        scale: 0 0;
        opacity: 0;
      }
    }
  }
}

.new-button-container:not(.new-button-collapsed) .new-button {
  display: none;
}
