@use '/src/assets/scss/variables.scss';

.link {
  font-family: Kadwa, serif;
  font-size: 32px;
  display: block;
}

.v-text {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    translate: -50%;
    width: 0;
    border-bottom: 4px solid variables.$color-primary-brand;
    border-radius: 4px;
    transition: width 0.25s ease;
  }

  &:hover,
  &.active {
    &::after {
      width: 110%;
    }
  }
}

.v-button {
  border: 2px solid variables.$color-primary-light;
  border-radius: 16px;
  padding: 8px 16px;
  transition-property: color, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease;

  &:hover {
    color: variables.$color-primary-dark;
    background-color: variables.$color-primary-light;
  }
}
